*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# 项目排除路径
/core/build/
/data/build/
/data/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/domain/build/
/domain/build/classes/java/main/
/feature/assistant/build/
/feature/goal/build/
/feature/schedule/build/
/feature/task/build/
/feature/task/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/writing/build/